@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #d521d8;
    background-color: #faf6f6;
}

header {
    background: #e67e22;
    color: #000000;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #e67e22;
}

nav .left {
    flex: 1;
}

nav .right {
    flex: 2;
    text-align: right;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
}

nav h1 .italic {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    background-color: #a2ff1f;
    border-radius: 40px 10px;
}

.myname {
    color: #e67e22;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #faf6f6;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

#about {
    background: #faf6f6;
    padding: 7em 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
    border-radius: 30%;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
    min-width: 300px;
    padding: 1em 2em;
}

.about-text h2 {
    font-size: 2.5em;
    color: #2e2e2e;
    margin-bottom: 0.5em;
}

.about-text p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.8;
}

.section-divider {
    border: none;
    height: 2px;
    background-color: #9f9f9f;
    margin: 2px auto;
    width: 90%;
}

h2 {
    text-align: center;
    color: #333;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background-color: #fff;
    color: #333;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #ff4b1f;
}

.skill h3 {
    font-size: 1.2rem;
    margin: 0;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#projects {
    padding: 50px 20px;
    color: #333;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-item {
    background-color: #fff;
    border: 1px solid #e67e22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 400px;
}

.project-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e67e22;
}

.project-content {
    padding: 20px;
}

.project-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e67e22;
}

.project-content .date {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.project-content p {
    color: #666;
    line-height: 1.6;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 7px;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.project-button:hover {
    background-color: #ff5733;
    transform: translateY(-3px);
}

#resume {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    margin-top: 2rem;
}

#resume h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#resume p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.resume-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #555;
}


.contact-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding: 20px;
}

.contact-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.contact-card h3 {
    margin-top: 0;
    font-size: 1.25rem;
    color: #333;
}

.contact-card p {
    font-size: 1rem;
    color: #666;
}

.contact-card a {
    color: #e67e22;
    text-decoration: none;
}

.contact-card a:hover {
    text-decoration: underline;
}

.contact-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .contact-cards {
        flex-direction: column;
        align-items: center;
    }
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #e67e22;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.social-icon {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icon:hover {
    color: #e67e22; 
    transform: scale(1.2); 
}

@media (max-width: 768px) {
    .social-icon {
        margin: 0 5px;
    }
}

section {
	padding-top: 60px; 
    margin-top: -60px; 
}
